.about {
  background: radial-gradient(
    circle at top,
    #03133a,
    #071d4b 70%
  );
  padding: 120px 20px;
  color: white;
  overflow: hidden;
}

.about__container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.about__icon {
  font-size: 42px;
  color: #ffffff;
  opacity: 0.95;
  margin-bottom: 12px;

  filter: drop-shadow(0 0 8px rgba(0, 180, 255, 0.45));
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.about__feature:hover .about__icon {
  transform: translateY(-4px) scale(1.05);
  opacity: 1;
}


/* TEXTO PRINCIPAL */
.about__intro {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  animation: fadeUp 0.8s ease forwards;
}

.about__intro h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.about__intro p {
  font-size: 1.1rem;
  line-height: 1.7;
  opacity: 0.9;
}

/* +30 */
.about__experience {
  text-align: center;
  animation: float 6s ease-in-out infinite;
}

.about__years {
  font-size: 6rem;
  font-weight: 800;
  color: #ffffff;
  text-shadow:
    0 0 20px rgba(8, 8, 95, 0.6),
    0 0 40px rgba(46, 85, 184, 0.8);
}

.about__experience p {
  margin-top: 10px;
  font-size: 1.2rem;
  opacity: 0.85;
}

/* FEATURES */
.about__features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
}

.about__feature {
  background: rgba(255,255,255,0.08);
  border-radius: 20px;
  padding: 30px;
  backdrop-filter: blur(8px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
  animation: fadeUp 0.6s ease forwards;
  transition: transform 0.3s ease;
}

.about__feature:hover {
  transform: translateY(-8px);
}

.about__feature span {
  font-size: 2rem;
}

.about__feature h4 {
  margin: 15px 0 8px;
  font-size: 1.2rem;
}

.about__feature p {
  font-size: 0.95rem;
  opacity: 0.85;
}

/* CIERRE */
.about__closing {
  text-align: center;
  max-width: 700px;
  margin: auto;
}

.about__line {
  display: block;
  width: 120px;
  height: 3px;
  margin: 0 auto 25px;
  background: linear-gradient(
    to right,
    transparent,
    white,
    transparent
  );
  box-shadow: 0 0 15px rgba(255,255,255,0.8);
}

.about__closing p {
  font-size: 1.1rem;
  opacity: 0.9;
}

/* ANIMACIONES */
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .about__intro h2 {
    font-size: 2.2rem;
  }

  .about__years {
    font-size: 4.5rem;
  }
}
