/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #213547;
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}

/* BUTTONS */
button {
  font-family: inherit;
  cursor: pointer;
}
