@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  color: #213547;
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}

/* BUTTONS */
button {
  font-family: inherit;
  cursor: pointer;
}

html, body {
  font-family: "Inter", system-ui, sans-serif !important;
}
