.hero {
  position: relative;
  height: 79vh;
  margin: 35px;
  border-radius: 40px;
  overflow: hidden;
  background-color: white;
}

/* TRACK que se desplaza */
.hero__track {
  display: flex;
  height: 100%;
  transition: transform 0.8s ease-in-out;
}

/* Cada slide */
.hero__slide {
  min-width: 100%;
  height: 100%;
  position: relative;
}

/* Imagen */
.hero__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Overlay */
.hero__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;

  color: white;
  border-radius: inherit;
}

/* Flechas */
.hero__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background: none;
  border: none;
  font-size: 3rem;
  color: white;
  cursor: pointer;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.hero:hover .hero__arrow {
  opacity: 1;
  pointer-events: auto;
}

.hero__arrow.left {
  left: 20px;
}

.hero__arrow.right {
  right: 20px;
}

/* Dots */
.hero__dots {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 10px;

  opacity: 0;
  transition: opacity 0.3s ease;
}

.hero:hover .hero__dots {
  opacity: 1;
}

.hero__dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;

  border: none;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;

  transition: all 0.3s ease;
}

.hero__dot.active {
  background: white;
  transform: scale(1.3);
}
