.hero {
  height: 79gitvh;
  background-color: white;
  background-size: cover;
  background-position: center;
  position: relative;
  transition: background-image 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  margin: 35px;
  border-radius: 40px;
  overflow: hidden; 
}

.hero__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
  color: white;
  border-radius: inherit;
}

.hero__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 3rem;
  color: white;
  cursor: pointer;
}

.hero__arrow.left {
  left: 20px;
}

.hero__arrow.right {
  right: 20px;
}
